@import "./../../style/style.scss";

.personalData {
  padding: 23px 40px;
  border-radius: 5px;
  width: 980px;
  min-height: 200px;
  background: #dcdcdc;
}
.changeBtn {
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: $accent-color;
  transition: $transition;
  margin: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 24px;
}
.name {
  font-size: 12px;
  flex: $main-color;
  input {
    display: block;
    width: 315px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    display: block;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid black;
    color: black;
  }
}
