@import "./../../style/variables";

.photos {
  background: url("./backgroundImg.png") center (center / cover) no-repeat;
  height: 712px;
}
.imageContainer {
  padding: 27px 0;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.image {
  position: relative;
  height: 477px;
  a {
    background-color: $accent-color;
    position: absolute;
    padding: 17px;
    bottom: 10px;
    left: 23px;
    border-radius: 5px;
  }
}
.arrow {
  left: 0 !important;
  bottom: -10px !important;
  border-radius: 0px 5px !important;
}
