@import "./../../style/variables";

.basket {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width: 531px;
}
.content {
  height: 251px;
  background-color: #fff;
  padding: 10px 13px;
  .search {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    gap: 24px;
    input {
      width: 239px;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
    }
  }
}
.list {
  height: 170px;
  padding-right: 28px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.list::-webkit-scrollbar-track {
  border: 2px solid rgb(180, 179, 179);
  background-color: #fff;
}
.list::-webkit-scrollbar {
  width: 2px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  height: 50px;
}
.bottom {
  display: block;
  background-color: rgb(141, 237, 100);
  width: 530px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 500;
  line-height: 40px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: $main-color;
  }
}
.item {
  display: flex;
  justify-content: space-between;
}
.img {
  width: 99px;
  height: 60px;
  object-fit: contain;
}
.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 230px;
}

.price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
