$main-color: rgba(104, 131, 213, 0.75);
$accent-color: rgba(141, 237, 100, 0.85);
$neutral-color: rgba(255, 160, 122, 0.55);
$background-color: #dcdcdc;
$text-color: #4d5053;
$transition: all 0.5s ease-in;
$translow: all 0.3s ease;
$btn-color: #292f36;
$btn-hover: rgba(0, 0, 0, 0.6);
