@import "./../../style/style.scss";
.register {
  background: url("./bg.png") center (center / cover) no-repeat;
  height: 100vh;

  position: relative;
  &_wrapper {
    width: 553px;
    min-height: 688px;
    background-color: #fff;
    border-radius: 5px;
    padding: 55px 130px 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h2 {
      color: var(--Black, #000);
      text-align: center;
      /* Subtitle */
      font-family: Prosto One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 120% */
      margin-bottom: 32px;
    }
    label {
      color: #8ded64;
      text-align: left;
      font-family: Prosto One;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
    input {
      width: 100%;
      background-color: #fff;
      outline: none;
      border: none;
      border-bottom: 1px solid #dedbdb;
    }
    button {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--White, #fff);
      /* Техт */
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
      border-radius: 5px;
      padding: 14px 32px;
      width: 100%;
      background: var(--oal, #212526);
      margin-bottom: 25px;
      transition: $transition;
      &:hover {
        background-color: $accent-color;
      }
    }
  }
  &_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
  }
  &_link {
    p {
      color: var(--Smoky, #8a8a8a);
      font-family: Raleway;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
      margin-bottom: 20px;
    }
    a {
      color: var(--White, #fff);
      /* Техт */
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      padding: 14px 32px;
      border-radius: 5px;
      background: rgba(104, 131, 213, 0.5);

      transition: $translow;
      &:hover {
        color: $main-color;
      }
    }
  }
}
